pkgbase = rature
	pkgdesc = Your day, one line at a time: a daily-list desktop app for GNOME
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/VertOurs/Rature
	arch = any
	license = GPL-3.0-or-later
	checkdepends = python-pytest
	makedepends = meson
	makedepends = ninja
	makedepends = gettext
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = glib2
	source = rature-1.4.0.tar.gz::https://github.com/VertOurs/Rature/archive/refs/tags/v1.4.0.tar.gz
	sha256sums = c9809da7b4198b1c9cf897f8436950d463e28b195cc0b454164c883e17a99542

pkgname = rature
